.beneficiosContainer{
	padding: 3% 15%;
    height: 60vh;
}

.beneficiosContainer h2{
	font-size: 3rem;
	text-align: center;
	margin-bottom: 2rem;

}

.beneficiosContainer ul li{
	font-size: 1.7rem;
	line-height: 2.5rem;
}
